<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edit an Event</title>
  </head>
  <body>
    <ul id="signup-dropdown" class="dropdown-content">
      <li><a href="login.html">Login</a></li>
      <li><a href="signup.html">Signup</a></li>
    </ul>
		<nav class="navbar-purple">
			<div class="nav-wrapper left-padding">
				<a href="index.html" class="brand-logo">EventManager</a>
				<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Home</a></li>
					<li><a href="all-events.html">Events</a></li>
					<li><a href="all-centers.html">Centers</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="signup-dropdown">Login<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>

				<ul class="side-nav" id="side-menu">
	        <li><a href="index.html">Home</a></li>
          <li><a href="all-events.html">Events</a></li>
					<li><a href="all-centers.html">Centers</a></li>
          <li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Login<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
                    <li><a href="signup.html">Login</a></li>
                    <li><a href="login.html">Signup</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
	      </ul>
			</div>
		</nav>

    <div class="container" class="max-width-six-hundred">
      <div class="card">
        <div class="container">
          <h3 class="center-heading">Edit an Event</h3>
        </div>
        <form class="card-content">
          <div class="row">
            <div class="input-field col s12">
              <input id="event-name" type="text" class="validate" value="Kachi's Center"/>
              <label for="event-name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" class="datepicker" id="event-date" value="18 November, 2017">
              <label for="event-date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="event-time" class="timepicker" type="text" value="21:50">
              <label for="event-time">Time</label>
            </div>
          </div>
          <div class="row center-align">
            <button class="btn waves-effect waves-light navbar-purple round-btn" type="submit" name="action">Update Event
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <footer class="page-footer navbar-purple footer-padding">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">EventManager</h5>
            <p class="grey-text text-lighten-4">Find centers for your events</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Useful links</h5>
            <ul>
              <li><a class="white-text" href="all-events.html">All Events</a></li>
              <li><a class="white-text" href="all-centers.html">All Centers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
