<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/centers.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/events.css"  media="screen,projection"/>
    <title>User Profile</title>
  </head>
  <body>
    <ul id="events-dropdown" class="dropdown-content">
			<li><a href="new-event.html">Add New Event</a></li>
			<li><a href="all-events.html">View Events</a></li>
		</ul>

		<ul id="centers-dropdown" class="dropdown-content">
			<li><a href="new-center.html">Add New Center</a></li>
			<li><a href="all-centers.html">View Centers</a></li>
		</ul>

    <ul id="signup-dropdown" class="dropdown-content">
      <li><a href="signup.html">Signup</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
		<nav class="navbar-purple nav-extended">
			<div class="nav-wrapper left-padding">
				<a href="index.html" class="brand-logo">EventManager</a>
				<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Home</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="events-dropdown">Events<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="centers-dropdown">Centers<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="dropdown-button" href="#!" data-activates="signup-dropdown">Signup<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>

				<ul class="side-nav" id="side-menu">
	        <li><a href="index.html">Home</a></li>
          <li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Events<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
										<li><a href="new-event.html">Add New Event</a></li>
										<li><a href="all-events.html">View Events</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Centers<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
										<li><a href="new-center.html">Add New Center</a></li>
										<li><a href="all-centers.html">View Centers</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
          <li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Signup<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
                    <li><a href="signup.html">Signup</a></li>
                    <li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
	      </ul>
			</div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#all-events">All Events</a></li>
        </ul>
      </div>
		</nav>

    <div id="all-events" class="col s12" style="padding-left:10px;">
      <div style="padding-top:10px;"><span class="date">Thursday, November 22</span></div>
      <div class="row">
        <div class="col s12 m9 l9">
          <div class="card-panel horizontal">
            <div class="row event-row">
              <div class="fifteen-percent col s3 m3 l3">
                <span>7:00am</span>
              </div>
              <div class="eighty-five-percent col s9 m9 l9">
                <span class="event-focus"><a href="show-event.html">Skurge Support Group</a></span><br>
                <span class="event-title"><a href="show-event.html">Part 1: A presentation on how to survive when faced with an
                   all-powerful evil goddess.</a></span>
              </div>
            </div>
            <div class="card-action" style="padding-top:10px;">
              <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-center.html"><i class="material-icons">edit</i></a>
              <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-center.html"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m9 l9">
          <div class="card-panel horizontal">
            <div class="row event-row">
              <div class="fifteen-percent col s3 m3 l3">
                <span>8:00am</span>
              </div>
              <div class="eighty-five-percent col s9 m9 l9">
                <span class="event-focus"><a href="show-event.html">Skurge Support Group</a></span><br>
                <span class="event-title"><a href="show-event.html">Part 1: A presentation on how to survive when faced with an
                   all-powerful evil goddess.</a></span>
              </div>
            </div>
            <div class="card-action" style="padding-top:10px;">
              <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-center.html"><i class="material-icons">edit</i></a>
              <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-center.html"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-top:10px;"><span class="date">Friday, November 24</span></div>
      <div class="row">
        <div class="col s12 m9 l9">
          <div class="card-panel horizontal">
            <div class="row event-row">
              <div class="fifteen-percent col s3 m3 l3">
                <span>9:00am</span>
              </div>
              <div class="eighty-five-percent col s9 m9 l9">
                <span class="event-focus"><a href="show-event.html">Skurge Support Group</a></span><br>
                <span class="event-title"><a href="show-event.html">Part 1: A presentation on how to survive when faced with an
                   all-powerful evil goddess.</a></span>
              </div>
            </div>
            <div class="card-action" style="padding-top:10px;">
              <a class="waves-effect waves-light btn navbar-purple round-btn" href="edit-center.html"><i class="material-icons">edit</i></a>
              <a class="waves-effect waves-light btn navbar-purple round-btn" href="edit-center.html"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer navbar-purple">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">EventManager</h5>
            <p class="grey-text text-lighten-4">Find centers for your events</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Useful links</h5>
            <ul>
              <li><a class="white-text" href="admin-profile.html">Admin Profile</a></li>
              <li><a class="white-text" href="user-profile.html">User Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Text
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
