<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/centers.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/events.css"  media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Profile</title>
  </head>
  <body>
    <ul id="events-dropdown" class="dropdown-content">
			<li><a href="new-event.html">Add New Event</a></li>
			<li><a href="all-events.html">View Events</a></li>
		</ul>

    <ul id="profile-dropdown" class="dropdown-content">
      <li><a href="user-profile.html">Profile</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
		<nav class="navbar-purple nav-extended">
			<div class="nav-wrapper left-padding">
				<a href="index.html" class="brand-logo">EventManager</a>
				<a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Home</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="events-dropdown">Events<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="all-centers.html">Centers</a></li>
					<li class="active"><a class="dropdown-button" href="#!" data-activates="profile-dropdown">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>

				<ul class="side-nav" id="side-menu">
	        <li><a href="index.html">Home</a></li>
          <li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Events<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
										<li><a href="new-event.html">Add New Event</a></li>
										<li><a href="all-events.html">View Events</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
					<li><a href="all-centers.html">Centers</a></li>
          <li class="left-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Profile<i class="material-icons right">arrow_drop_down</i></a>
								<div class="collapsible-body">
									<ul>
                    <li><a href="user-profile.html">Profile</a></li>
                    <li><a href="#">Logout</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</li>
	      </ul>
			</div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a href="#all-events">All Events</a></li>
        </ul>
      </div>
		</nav>

    <div id="all-events" class="col s12 left-ten-padding">
      <div class="container">
        <!-- Start of search bar -->
        <div class="">
          <form>
            <div class="input-field search-field">
              <input id="search" type="search" required placeholder="Search for events">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
           </div>
        </form>
        </div>
        <!-- end of search bar -->
        <div class="row"  class="top-thirty-padding">
          <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                  <a href="show-event.html"><img src="img/owen shaw.jpg" alt=""></a>
                </div>
                <!-- <div class="fifteen-percent col s3 m3 l3">
                  <span>7:00am</span>
                </div> -->
                <div class="card-content">
                  <span class="event-focus"><a href="show-event.html">Skurge's Birthday</a></span><br>
                  <span class="event-title"><a href="show-event.html">With an all you can eat buffet</a></span><br>
                  <span class="event-date">12 December, 2017</span><br>
                  <span class="fifteen-percent">7:00am</span>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-event.html"><i class="material-icons">edit</i></a>
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="#"><i class="material-icons">delete</i></a>
                </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                  <a href="show-event.html"><img src="img/owen shaw.jpg" alt=""></a>
                </div>
                <!-- <div class="fifteen-percent col s3 m3 l3">
                  <span>7:00am</span>
                </div> -->
                <div class="card-content">
                  <span class="event-focus"><a href="show-event.html">Skurge's Birthday</a></span><br>
                  <span class="event-title"><a href="show-event.html">With an all you can eat buffet</a></span><br>
                  <span class="event-date">12 December, 2017</span><br>
                  <span class="fifteen-percent">7:00am</span>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-event.html"><i class="material-icons">edit</i></a>
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="#"><i class="material-icons">delete</i></a>
                </div>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                  <a href="show-event.html"><img src="img/owen shaw.jpg" alt=""></a>
                </div>
                <div class="card-content">
                  <span class="event-focus"><a href="show-event.html">Skurge's Birthday</a></span><br>
                  <span class="event-title"><a href="show-event.html">With an all you can eat buffet</a></span><br>
                  <span class="event-date">12 December, 2017</span><br>
                  <span class="fifteen-percent">7:00am</span>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-event.html"><i class="material-icons">edit</i></a>
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="#"><i class="material-icons">delete</i></a>
                </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                  <a href="show-event.html"><img src="img/owen shaw.jpg" alt=""></a>
                </div>
                <div class="card-content">
                  <span class="event-focus"><a href="show-event.html">Skurge's Birthday</a></span><br>
                  <span class="event-title"><a href="show-event.html">With an all you can eat buffet</a></span><br>
                  <span class="event-date">12 December, 2017</span><br>
                  <span class="fifteen-percent">7:00am</span>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="edit-event.html"><i class="material-icons">edit</i></a>
                  <a class="waves-effect waves-light btn navbar-purple round-btn white-color" href="#"><i class="material-icons">delete</i></a>
                </div>
            </div>
          </div>
          </div>
        </div>

        <div class="fixed-action-btn horizontal click-to-toggle">
          <a class="btn-floating btn-large red white-color" href="new-event.htnl">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>

    <footer class="page-footer navbar-purple footer-padding">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">EventManager</h5>
            <p class="grey-text text-lighten-4">Find centers for your events</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Useful links</h5>
            <ul>
              <li><a class="white-text" href="all-events.html">All Events</a></li>
              <li><a class="white-text" href="all-centers.html">All Centers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>
