.event-focus{
  display: inline;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -.02em;
  word-spacing: .1em;
  color: #2B4570;
}

.event-focus a{
  cursor: pointer;
  text-decoration: none;
}

.event-title{
  display: inline;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -.02em;
  word-wrap: break-word;
}

.event-title a{
  cursor: pointer;
  text-decoration: none;
}

.event-venue{
  display: inline;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: -.02em;
  word-wrap: break-word;
}

.fifteen-percent{
  /*width:15%;
  float: left;*/
  /*clear: both;*/
  font-size: 18px;
  font-weight: 300;
  color: #777777;
  overflow: hidden;
  line-height: 1.45;
}

.eighty-five-percent{
  /*width:85%;*/
  margin-top: -15px;
  margin-left: -50px;
  float: right;
  overflow: hidden;
  /*clear: both;*/
}

.row{
  margin-bottom: 0px;
  margin-top: 0px;
}

.date{
  padding: 0 0 16px 16px;
  text-transform: uppercase;
  display: block;
  stroke: transparent;
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: -.1em;
  list-style-position: outside;
  text-rendering: optimizeLegibility;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.event-date{
  /*padding: 0 0 16px 16px;
  text-transform: uppercase;*/
  display: inline;
  /*stroke: transparent;*/
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  font-size: 16px;
  font-weight: 400;
  /*line-height: 1.6;*/
  /*letter-spacing: -.02em;
  word-spacing: -.1em;*/
  /*list-style-position: outside;*/
  text-rendering: optimizeLegibility;
}
.show-event-name {
  font-size: 5px;
  margin-top: 0;
  stroke: transparent;
  fill: #2e3e48;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 8px;
  text-rendering: optimizeLegibility;
}
#break-word {
  overflow-wrap: break-word;
  width: 5em;
}
.tiny {
  font-size: 1.3rem;
  line-height: 1.6;
  stroke: transparent;
  fill: rgba(46,62,72,.35);
  color: rgba(46,62,72,.35);
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.tiny-span {
  display: inline;
}
.show-event-details {
  font-weight: 500!important;
  font-size: 1.2rem;
  display: block;
  color: inherit;
  margin-top: -5px;
}
.show-event-date {
  display: inline-block;
}
.show-event-time {
  display: inline-block;
}
.show-center-image {
  width: 800px;
  height: auto;
  margin-left: -11px;
}
.single-event-details {
  padding: 20px 0px 0px 20px;
}
.event-detail {
  font-size: 1.5rem;
  font-weight: 500!important;
  line-height: 1.45;
  stroke: transparent;
  fill: #2e3e48;
  color: #2e3e48;
  display: block;
}
#event-detail-span {
  display: inline;
  font-weight: 500!important;
  font-size: 1.25rem;
  line-height: 1.45;
  stroke: transparent;
  fill: #2e3e48;
  color: #2e3e48;
  text-rendering: optimizeLegibility;
}
#event-detail-text {
  transition: height .5s cubic-bezier(.215,.61,.355,1);
  overflow: hidden;
  line-height: 1.8;
  display: block;
  font-size: 1.5rem;
  text-rendering: optimizeLegibility;
  font-weight: 200;
}
#single-event-row {
  margin-right: -12px;
  margin-left: -11px;
}
#event-details-padding {
  padding-left: 40px;
}
.edit-event-modal {
  max-height: 100% !important;
  bottom: 5%;
}
