.event-focus{
  display: inline;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -.02em;
  word-spacing: .1em;
  color: #2B4570;
}

.event-focus a{
  cursor: pointer;
  text-decoration: none;
}

.event-title{
  display: inline;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -.02em;
  word-wrap: break-word;
}

.event-title a{
  cursor: pointer;
  text-decoration: none;
}

.event-venue{
  display: inline;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: -.02em;
  word-wrap: break-word;
}

.fifteen-percent{
  /*width:15%;
  float: left;*/
  /*clear: both;*/
  font-size: 18px;
  font-weight: 300;
  color: #777777;
  overflow: hidden;
  line-height: 1.45;
}

.eighty-five-percent{
  /*width:85%;*/
  margin-top: -15px;
  margin-left: -50px;
  float: right;
  overflow: hidden;
  /*clear: both;*/
}

.row{
  margin-bottom: 0px;
  margin-top: 0px;
}

.date{
  padding: 0 0 16px 16px;
  text-transform: uppercase;
  display: block;
  stroke: transparent;
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -.02em;
  word-spacing: -.1em;
  list-style-position: outside;
  text-rendering: optimizeLegibility;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.event-date{
  /*padding: 0 0 16px 16px;
  text-transform: uppercase;*/
  display: inline;
  /*stroke: transparent;*/
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  font-size: 10px;
  font-weight: 400;
  /*line-height: 1.6;*/
  /*letter-spacing: -.02em;
  word-spacing: -.1em;*/
  /*list-style-position: outside;*/
  text-rendering: optimizeLegibility;
}
