.left-padding{
  padding-left: 20px;
  padding-right: 20px;
}

.signup-form{
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px 25px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  width: auto;
  margin: auto;
}

.center-heading{
  text-align: center;
}

.left-padding{
  padding-left:15px;
}

.left-div-padding{
  padding-left: 30px;
}

.image-padding{
  padding-top: 20px;
}

#event-heading{
  color: #00796b;
  font-size: 35px;
}

#event-center{
  font-size: 30px;
}

#event-address{
  font-size: 20px;
}

#event-date{
  font-size: 20px;
}

#event-time{
  font-size: 20px;
}

.negative-padding-top{
  margin-top: -30px;
}

#events-header-centered{
  color: #009688;
}

#event-state{
  color: #d32f2f;
  font-size: 20px;
}

.show-center-heading{
  padding-top: 20px;
  color: #004d40;
  font-size: 40px;
}
